<header>
  <div class="divone_logo">
 <h1>Dakalo</h1>
 </div>
 <nav>
       <ul class="nav_ul">
           <li class="li_ul"><a class="nav_links" href="">Home</a></li>
           <li class="li_ul"><a class="nav_links" href="">About</a></li>
           <li class="li_ul"><a class="nav_links" href="">Services</a></li>
           <li class="li_ul"><a class="nav_links" href="">Blog</a></li>
           <li class="li_ul"><a class="nav_links" href="">Contact</a></li>
       </ul>
       <div class="register">
         <a href="" class="social_mediaicons"><i class="fa-brands fa-linkedin-in"></i></a>
         <a href="" class="social_mediaicons"><i class="fa-brands fa-facebook-f"></i></a>
         <a href="" class="social_mediaicons"><i class="fa-brands fa-twitter"></i></a>
         <a href="" class="social_mediaicons"><i class="fa-brands fa-discord"></i></a> 
       </div>
   
 </nav>
    <div class="menu">
     <div class="bars"></div>
     <div class="bars"></div>
     <div class="bars"></div>
   </div>
   
 </header>